@media all and (max-width: 900px) {
	.middle-area .image {
		float: none;
		width: 100%;
	}
	.middle-area .signup {
		width: 100%;
	}
	.signup {
		background: linear-gradient(#F1F3F8, #D4D8E8)
	}
	.footer-area .footer-bottom-one ul li {
		margin-right: 15px;
		line-height: 23px;
	}
	.footer-area .footer-bottom-two ul li {
		margin-right: 15px;
		line-height: 23px;
	}
	.footer-area .footer-bottom-three ul li {
		margin-right: 15px;
		line-height: 23px;
	}
	.footer-area .footer-top ul li {
		margin-right: 15px;
		line-height: 23px;
	}
	.footer-area .footer-top {
		margin-bottom: 30px;
	}
	.footer-area .footer-bottom-one {
		width: 50%;
		float: left;
	}
	.footer-area .footer-bottom-two {
		width: 50%;
		overflow: hidden;
}

@media all and (max-width: 500px) {
	.image h3 {
		width: 100%;
	}
	.image img {
		height: 100%;
		width: 100%;
	}
}



@media all and (max-width: 668px) {
	.header-area .logo-area {
		float: none;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
	.header-area .login-area {
		width: 100%;
	}
	.login-area form {
		float: none;
		width: 778px;
		margin: auto;
	}
}

@media all and (max-width: 392px) {
	.login-area .username-area {
		float: none;
		margin-bottom: 15px;
	}
	.login-area .password-area {
		float: none;
		margin-bottom: 15px;
	}
	.login-area .submit-area {
		float: none;
	}
	.login-area input[type="text"], 
	.login-area input[type="password"] {
		width: 100%;
	}
}